<div id="parent">
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td>{{ "Common.gender" | translate }}</td>
        <td>
          <select
            class="form-select"
            [(ngModel)]="chosenGender"
            id="genderDropDown"
          >
            <option value="" disabled selected>
              {{ "ControlPanel.genderSelectPrompt" | translate }}
            </option>
            <option *ngFor="let item of genders" [value]="item">
              {{ item | translate }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>{{ "ControlPanel.view" | translate }}</td>
        <td>
          <select
            class="form-select"
            [(ngModel)]="chosenViewType"
            (ngModelChange)="onChosenViewTypeChange()"
            id="viewTypeDropDown"
          >
            <option value="" disabled selected>
              {{ "ControlPanel.viewTypePrompt" | translate }}
            </option>
            <option *ngFor="let item of viewTypes" [value]="item">
              {{ item }}
            </option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="numberOfItems" class="form-label">{{
            "ControlPanel.quantity" | translate
          }}</label>
        </td>
        <td>
          <input
            class="form-control"
            type="number"
            min="0"
            id="desiredRandomNumberInputField"
            max="{{ MAX_RANDOM_NAMES_ALLOWED }}"
            step="1"
            [(ngModel)]="numberOfNamesDesired"
            value="0"
          />
        </td>
      </tr>
      <tr>
        <td>
          <label for="numberOfItems" class="form-label">{{
            "ControlPanel.county" | translate
          }}</label>
        </td>
        <td>
          <select
            class="form-select"
            [(ngModel)]="chosenCounty"
            id="countyDropDown"
          >
            <option value="" disabled selected>
              {{ "ControlPanel.countySelectPrompt" | translate }}
            </option>
            <option *ngFor="let item of counties" [value]="item">
              {{ item }}
            </option>
          </select>
        </td>
      </tr>

      <tr>
        <td>
          <label for="numberOfItems" class="form-label">
            {{ "Common.age" | translate }}</label
          >
        </td>
        <td>
          <input
            class="form-control"
            type="number"
            min="18"
            id="desiredAgeInputField"
            max="{{ MAX_AGE_ALLOWED }}"
            step="1"
            [(ngModel)]="ageDesired"
            value="18"
          />
        </td>
      </tr>
      <tr>
        <div class="form-check" *ngFor="let item of checkboxItems">
          <input
            class="form-check-input"
            type="checkbox"
            id="{{ item.id }}"
            [(ngModel)]="item.isChecked"
          />
          <label class="form-check-label" for="{{ item.id }}">
            {{ item.label }}
          </label>
        </div>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <button
      class="btn btn-success"
      id="generateButton"
      (click)="generateRandomUsers()"
    >
      {{ "ControlPanel.generateBtn" | translate }}
    </button>
  </div>
</div>
