.flag-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.flag-button {
  padding: 1px;
}

.btn-group {
  margin-right: 10px;
  margin-left: auto;
}

.btn {
  background-color: transparent;
  color: #333;
  position: relative;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn.active::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  bottom: 0;
  left: 5px;
  background-color: #888;
  transform: scaleX(1);
  transition: transform 0.3s ease-out;
}

.flag-button {
  padding: 1px;
  /* transition: color 0.3s ease-in; */
}

.flag-button:hover {
  background-color: rgba(158, 158, 158, 0.719);
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -1px; /* Adjust the distance of the underline from the text */
  left: 17px;
  right: 0;
  width: 90px;
  border-bottom: 2px solid #666666ad; /* Adjust the color and style of the underline as needed */
  display: block;
}
