#parentContainer {
  position: relative;
  top: 150px;
}

h2 {
  display: flex;
  justify-content: center;
}

#desiredRandomNumberInputField {
  padding: 4px;
}

#resultsContainer {
  padding: 4px;
  height: 300px;
  margin-top: 20px;
}

#resultsSubContainer {
  background-color: #ff00dd;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resultsParagraph {
  color: white;
  word-wrap: break-word;
  text-align: center;
  vertical-align: center;
  font-size: 1.5rem;
}

.clipboardCopyContainer {
  display: flex;
  justify-content: right;
}

#copiedMessage {
  visibility: hidden;
  font-weight: bold;
  margin-right: 3px;
  color: green;
  background-color: white;
  border-radius: 2px;
  padding: 2px;
}
