#parentContainer {
  position: relative;
  top: 150px;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

/* #genderDropDown {
  right: 0;
  padding: 4px;
  width: 80px;
  margin-right: 10px;
} */

#desiredRandomNumberInputField {
  padding: 4px;
}

#resultsContainer {
  padding: 4px;
  height: 600px;
}

#resultsSubContainer {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 7px 7px 7px;
}

textarea {
  height: 100%;
  width: 100%;
  font-size: 7pt;
  border: none;
  resize: none;
}

#graphicViewList {
  overflow: auto;
  height: inherit;
  width: 100%;
}

#listView {
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  text-align: left;
  vertical-align: center;
  font-size: 0.9rem;
}

#graphicViewTable {
  overflow: auto;
  height: inherit;
  width: 100%;
}

#tableView {
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  text-align: left;
  vertical-align: center;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.clipboardCopyContainer {
  display: flex;
  justify-content: right;
  margin-top: 25px;
}

#copiedMessage {
  visibility: hidden;
  font-weight: bold;
  margin-right: 3px;
  color: green;
  background-color: white;
  border-radius: 2px;
  padding: 2px;
}

@media screen and (max-width: 450px) {
  #parentContainer {
    width: 100%;
  }

  #genderDropDown {
    margin-right: 1px;
  }
}

@media (max-width: 1000px) {
  /* Set the tables to display as one column */
  .table-responsive {
    display: block;
    overflow-x: auto;
  }
}

.fixed-width-table {
  max-width: 400px;
}
