<div id="parentContainer">
  <h2>
    {{ "UserGenerator.header" | translate }}
  </h2>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <control-panel
          (userListUpdated)="onUserListUpdated($event)"
          (chosenViewTypeUpdated)="onChosenViewTypeUpdated($event)"
        ></control-panel>
      </div>
      <div class="col-md-8 table-view-column">
        <div id="resultsContainer">
          <div id="resultsSubContainer">
            <textarea
              *ngIf="chosenViewType == ViewTypes.JSON"
              id="jsonView"
              spellcheck="false"
              style="cursor: url('assets/images/copy_icon.png'), auto"
              (click)="onTextareaClick($event)"
              title="Click to copy"
              type="text"
              editable="false"
              [(ngModel)]="generatedRandomUsersString"
            ></textarea>
            <users-grid-table-view
              [listOfUsers]="userList"
              *ngIf="chosenViewType == ViewTypes.GRAPHICAL_TABLE"
            >
            </users-grid-table-view>
            <list-view
              *ngIf="chosenViewType == ViewTypes.GRAPHICAL_LIST"
              [userList]="userList"
            ></list-view>
          </div>

          <div class="clipboardCopyContainer">
            <div id="copiedMessage">
              {{ "Common.copied" | translate }} &#x2714;
            </div>
            <button
              class="btn btn-sm btn-light btn-outline-success"
              id="copyText"
              (click)="copyToClipboard()"
            >
              {{ "Common.copyToClipboard" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
