#parentContainer {
  position: fixed;
  left: 50%;
  top: 20%;
  width: 50%;
  transform: translate(-50%, -5%);
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.controlsPanel {
  display: flex;
  justify-content: space-between;
}

#generateButton {
  padding: 4px;
}

#genderDropDown {
  right: 0;
  padding: 4px;
  width: 80px;
  margin-right: 10px;
}

#desiredRandomNumberInputField {
  padding: 4px;
}

#resultsContainer {
  padding: 4px;
  height: 400px;
}

#resultsSubContainer {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 7px 7px 7px;
}

textarea {
  height: 100%;
  width: 100%;
  font-size: 7pt;
  border: none;
  resize: none;
}

#resultsParagraph {
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  text-align: center;
  vertical-align: center;
  font-size: 0.9rem;
  line-height: 10%;
}

.clipboardCopyContainer {
  display: flex;
  justify-content: right;
  margin-top: 25px;
}

#copiedMessage {
  visibility: hidden;
  font-weight: bold;
  margin-right: 3px;
  color: green;
  background-color: white;
  border-radius: 2px;
  padding: 2px;
}

@media screen and (max-width: 450px) {
  #parentContainer {
    width: 80%;
  }

  #genderDropDown {
    margin-right: 1px;
  }
}
