<div id="parentContainer">
  <h2>
    {{ "UserGenerator.header" | translate }}
  </h2>

  <div class="controlsPanel">
    <button id="generateButton" (click)="generateRandomUsers()">
      {{ "UserGenerator.generateBtn" | translate }}
    </button>

    <select [(ngModel)]="chosenViewType" id="viewTypeDropDown">
      <option value="" disabled selected>
        {{ "UserGenerator.viewTypePrompt" | translate }}
      </option>
      <option *ngFor="let item of viewTypes" [value]="item">{{ item }}</option>
    </select>

    <div class="controlsPanelOptions">
      <select [(ngModel)]="chosenGender" id="genderDropDown">
        <option value="" disabled selected>
          {{ "UserGenerator.genderSelectPrompt" | translate }}
        </option>
        <option *ngFor="let item of genders" [value]="item">{{ item }}</option>
      </select>

      <select [(ngModel)]="chosenCounty" id="countyDropDown">
        <option value="" disabled selected>
          {{ "UserGenerator.countySelectPrompt" | translate }}
        </option>
        <option *ngFor="let item of counties" [value]="item">{{ item }}</option>
      </select>

      <input
        type="number"
        min="18"
        id="desiredAgeInputField"
        max="{{ MAX_AGE_ALLOWED }}"
        step="1"
        [(ngModel)]="ageDesired"
        value="18"
      />

      <input
        type="number"
        min="0"
        id="desiredRandomNumberInputField"
        max="{{ MAX_RANDOM_NAMES_ALLOWED }}"
        step="1"
        [(ngModel)]="numberOfNamesDesired"
        value="0"
      />
    </div>
  </div>

  <div id="resultsContainer">
    <div id="resultsSubContainer">
      <textarea
        *ngIf="chosenViewType == ViewType.JSON"
        id="jsonView"
        type="text"
        editable="false"
        [(ngModel)]="generatedRandomUsersString"
      ></textarea>
      <div
        id="graphicViewList"
        *ngIf="chosenViewType == ViewType.GRAPHICAL_LIST"
      >
        <div id="listView" *ngFor="let user of generatedRandomUsersObject">
          <img
            src="{{ user.builtPicturePath }}"
            width="60px"
            alt="face of a person"
          />
          <p>
            <b>{{ "UserGenerator.name" | translate }}: </b>{{ user.name }}
            {{ user.surname }}
          </p>
          <p>
            <b>{{ "UserGenerator.username" | translate }}: </b
            >{{ user.username }}
          </p>
          <p>
            <b>{{ "UserGenerator.birthday" | translate }}: </b
            >{{ user.birthday }}
          </p>
          <p>
            <b>{{ "UserGenerator.age" | translate }}: </b>{{ user.age }}
          </p>
          <p>
            <b>{{ "UserGenerator.address" | translate }} : </b
            >{{ user.address.name }} {{ user.address.number }}
          </p>
          <p>
            <b>{{ "UserGenerator.email" | translate }}: </b>{{ user.email }}
          </p>
          <p>
            <b>{{ "UserGenerator.phone" | translate }}: </b>{{ user.phone }}
          </p>
          <hr />
        </div>
      </div>
      <div
        id="graphicViewTable"
        *ngIf="chosenViewType == ViewType.GRAPHICAL_TABLE"
      >
        <div id="tableView" *ngFor="let user of generatedRandomUsersObject">
          <table>
            <tr>
              <th rowspan="2">
                <img
                  src="{{ user.builtPicturePath }}"
                  width="60px"
                  alt="face of a person"
                />
              </th>
              <td>{{ user.name }} {{ user.surname }}</td>
            </tr>
            <tr>
              <td>
                <b>{{ "UserGenerator.username" | translate }} </b>
                &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;
                {{ user.username }}
              </td>
            </tr>
            <tr>
              <th>{{ "UserGenerator.birthday" | translate }}</th>
              <td>{{ user.birthday }}</td>
            </tr>
            <tr>
              <th>{{ "UserGenerator.age" | translate }}</th>
              <td>{{ user.age }}</td>
            </tr>
            <tr>
              <th>{{ "UserGenerator.address" | translate }}</th>
              <td>{{ user.address.name }} {{ user.address.number }}</td>
            </tr>
            <tr>
              <th>{{ "UserGenerator.email" | translate }}</th>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <th>{{ "UserGenerator.phone" | translate }}</th>
              <td>{{ user.phone }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="clipboardCopyContainer">
    <div id="copiedMessage">
      {{ "UserGenerator.copied" | translate }} &#x2714;
    </div>
    <button id="copyText" (click)="copyToClipboard()">
      {{ "UserGenerator.copyToClipboard" | translate }}
    </button>
  </div>
</div>
