:host {
  width: 100%;
}

#parentContainer {
  position: relative;
  top: 150px;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
}

#desiredRandomNumberInputField {
  padding: 4px;
}

#resultsContainer {
  padding: 4px;
  height: 600px;
}

#resultsSubContainer {
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 7px 7px 7px;
}

textarea {
  height: 100%;
  width: 100%;
  font-size: 7pt;
  border: none;
  resize: none;
}

#graphicViewList {
  overflow: auto;
  height: inherit;
  width: 100%;
}

#listView {
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  text-align: left;
  vertical-align: center;
  font-size: 0.9rem;
}

#graphicViewTable {
  overflow: auto;
  height: inherit;
  width: 100%;
}

#tableView {
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  text-align: left;
  vertical-align: center;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

div.col-md-6 > table th {
  font-size: 10pt;
  width: 20px;
}

.clipboardCopyContainer {
  display: flex;
  justify-content: right;
  margin-top: 25px;
}

#copiedMessage {
  visibility: hidden;
  font-weight: bold;
  margin-right: 3px;
  color: green;
  background-color: white;
  border-radius: 2px;
  padding: 2px;
}

@media screen and (max-width: 450px) {
  #parentContainer {
    width: 100%;
  }

  #genderDropDown {
    margin-right: 1px;
  }
}

@media (min-width: 900px) {
  .graphicViewTable {
    /* min-width: 500px; */
  }
}

.fixed-width-table {
  /* min-width: 300px; */
}

.customTDFont {
  font-size: 14px;
}

@media (max-width: 1000px) {
  .table-view-column {
    flex-basis: 100%; /* Make it 100% width */
    max-width: 100%; /* Set max width to 100% */
  }

  .customTDFont {
    /* font-size: 12px; */
  }
}

@media (max-width: 1000x) {
  .responsive-grid {
    flex-direction: column;
  }

  /* .customTDFont {
    font-size: 10px;
  } */
}

@media (min-width: 1500px) {
  .customTDFont {
    font-size: 16px;
  }
}
