<footer class="bg-dark text-light mt-5">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-6">
        <h3>Open Source Project</h3>
        <p>Email: info@example.com</p>
      </div>
      <div class="col-md-6">
        <h3>Follow Us</h3>
        <a href="#" class="text-light me-3"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <hr />
    <p class="text-center">&copy; 2023 Random Albanian Data Generator</p>
  </div>
</footer>
