<table
  *ngFor="let user of listOfUsers"
  style="margin-bottom: 35px"
  class="table table-striped table-vertical"
>
  <tbody>
    <tr>
      <th scope="row">Foto</th>
      <td>
        <img
          src="{{ user.builtPicturePath }}"
          alt="Face of a person"
          class="img-thumbnail"
          width="100"
        />
      </td>
    </tr>
    <tr>
      <th scope="row">{{ "UserData.fullName" | translate }}</th>
      <td>{{ user.name }} {{ user.surname }}</td>
    </tr>
    <tr>
      <th scope="row">{{ "UserData.birthday" | translate }}</th>
      <td>{{ user.birthday }}</td>
    </tr>
    <tr>
      <th scope="row">{{ "UserData.age" | translate }}</th>
      <td>{{ user.age }}</td>
    </tr>
    <tr>
      <th scope="row">{{ "UserData.address" | translate }}</th>
      <td>{{ user.address?.name }} {{ user.address?.number }}</td>
    </tr>
    <tr>
      <th scope="row">{{ "UserData.email" | translate }}</th>
      <td class="customTDFont">{{ user.email }}</td>
    </tr>
    <tr>
      <th scope="row">{{ "UserData.phone" | translate }}</th>
      <td>{{ user.phone }}</td>
    </tr>
    <tr>
      <th scope="row">{{ "UserData.username" | translate }}</th>
      <td>{{ user.username }}</td>
    </tr>
  </tbody>
</table>
